<img
  src="https://lh3.googleusercontent.com/U7VitnrPuNZB2mPGjZNiXyXevdQX4lzUW2l8RWzX1SyLfzaafREDOn55pkTWaknYEmo2DkDashVZDkJBGmbLAK5n73Qhw8jMhMGwk99ltMmMNiBIgHxG2q8H_6hGyEnifFX9My-TWMZMh85aEIGsdWM_lftwhq8ATasSi6ojFXQNJ7crhw1MapHskVf9DiXDhjEDu46NrCR3ABa-Ga0yYjFvBG3Ei4WnqzANovYbqwtxvfQOziPi5PRjKwmNdlyamAbTLAv-xlKoIrdiJ8e5akj7vbldqKA-KeTVPEKYC0KZVtEz1KLGPvJVwXNIrg-eDzYibujYklIEHKOjC0R0tvgUO_ZkDOrHq_G53GaeDT1mVtSDnBR49eO5-czzXofjQJYcCiq-OvRJ8buAFPdrlKObf1VCFixanfbg9Xzhbb5SCCnfri1ZOS2e96aLWIqFRA4EF43jwkrq-1svsUSgY4A0Sz_vKyiQPLgBQUalwYwQOktveo6kZEaJdY-M6NZXfxbLH-P6JNvXJE2Us5Lus4BzmlIq_6hYUtNSbsIh7ofIvBLMVKJcX-c4gTnfWZ-5Ayle8Yw8eBV5OhmTkSfLuG6ujGIafTwkfjD5t3OzaE80dl7TZdVJGvpsh1wyP46z14absDrs1OC32JVNMUfxAPDRh1SIXvbmQ9pnjwX-OW-SzwO3J6cWDEJYnz1CYO_M-D1w6mmJZD9Nwq1kKU7ssGUWp7qKrASR_V8kqIOTz6f-k3pePuk1ydlhR5s=w1640-h708-no?authuser=0"
  class="img-fluid" alt="...">
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" routerLink="/aquatic-food" class="btn btn-dark me">Back</button>
</div>
