<img
  src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t39.30808-6/298118267_1601613123574282_1213759873436551961_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeF9wQ-83dWBm8ddSEkLl2g16xo2HaQloWLrGjYdpCWhYtbDl_mqbFJqq0nEip9CJfJuQDF5PdU63apLVBZSUM8l&_nc_ohc=_mQ4cif0MVMAX-kQsDS&_nc_ht=scontent.fbkk5-5.fna&oh=00_AT8E0o-cWe5lgj3joCsL93xlb5axKO_CHgcz7Mh1GcwRkw&oe=62F6BB8E"
  class="img-fluid" alt="...">
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" routerLink="/aquatic-food" class="btn btn-dark me">Back</button>
</div>
