<form>
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Aqutic Name" #aquticName>
    </div>
    <div class="col-3">
      <input type="number" class="form-control" placeholder="Qty" [files]="" #qty>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <button type="button" class="btn btn-success" (click)="onAddFish(aquticName,qty)">Add</button>
      <button type="button" class="btn btn-danger ms-2">Delete</button>
      <button type="button" class="btn btn-primary ms-2">Clear</button>
    </div>
  </div>
</form>
