<div class="row">
  <div class="col-12">
    <img
    src={{data.imagePath}}
    class="img-fluid"
    alt="Test"
    style="width: 200px;">
    <div class="row">
      <div class="col-12 mt-3">
        <h4>{{data.name}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="dropdown" appDropdown>
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="" >
            Manage Aquatic Food On Hand
          </button>
          <ul class="dropdown-menu" >
            <li><a class="dropdown-item" [routerLink]="['/aquatic-food','detail',data.name,'index','edit']">Update Aquatic</a></li>
            <li><a class="dropdown-item" routerLink="/aquatic-food" (click)="deleteAqutic()">Delete Aqutic</a></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <p>{{data.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="list-group-item-text">จำนวน {{data.onHand}}/{{data.quantity}}</p>
      </div>
    </div>
  </div>
</div>
