<div class="row">
  <div class="col-12">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Cybium_interruptum_Ford_56.jpg/480px-Cybium_interruptum_Ford_56.jpg"
      class="card-img-top" alt="Test">
    <div class="row">
      <div class="col-12">
        <h4>Aqunatic Name</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="dropend col-7 ">
          <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Manage Aquatic Food On Hand
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Add Received Qty</a></li>
            <li><a class="dropdown-item" href="#">Edit Received Qty</a></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <p>Description</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Aquatic Food Received Qty & On Hands</p>
      </div>
    </div>
  </div>
</div>
