<div class="row">
  <div class="col-12">
    <img
    src={{aquaticFood.imagePath}}
    class="img-fluid"
    alt="Test"
    style="width: 200px;">
    <div class="row">
      <div class="col-12 mt-3">
        <h4>{{aquaticFood.name}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="dropdown" appDropdown>
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="" >
            Manage Aquatic Food On Hand
          </button>
          <ul class="dropdown-menu" >
            <li><a class="dropdown-item" [routerLink]="['edit']">Update Aquatic</a></li>
            <li><a class="dropdown-item" routerLink="/aquatic-food" (click)="deleteAqutic()">Delete Aqutic</a></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <p>{{aquaticFood.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="list-group-item-text">จำนวน </p>
      </div>
    </div>
    <div class="row">
      <h5>ตย.ชื่อเมนูอาหาร</h5>
      <div class="col-12" *ngFor="let item of aquaticFood.menu">
        <p>{{item}}</p>
      </div>
    </div>
  </div>
</div>
